.wrap-card-bc {
    width: 100%;
    float: left;
  }
  
  .container-card-bc {
    width: 100%;
    float: left;
    background-color: #e9e8e8;
    /* margin-bottom: 20px; */
  }
  .inner-card-bc {
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 30px 20px 30px;
    /* margin-top: 10px; */
  
    /* padding: 72px; */
    /* margin: 110px 0px 110px 0px; */
  }
  
  .inner-card-text {
    /* position: absolute; */
    bottom: 10px !important;
    left: 0;
    right: 0;
    font-size: 20px;
    /* margin-top: 15px; */
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }
  
  /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
  
  @media (min-width: 1281px) {
    /* CSS */
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  
  @media (min-width: 800px) {
    .dealing > img{
      height: 250px;
      width: 300px;
      /* width: auto; */
      vertical-align: middle;
    }
  }
  
  @media (min-width: 700px) {
    .dealing > img{
      height: 250px;
      width: 300px;
      /* width: auto; */
      vertical-align: middle;
    }
  }

  @media (min-width: 800px) {
    .dealing > img{
      /* height: 200px; */
      /* width: 200px; */
      vertical-align: middle;
    }
  }
 